%h2 Menu

- @categories.each do |category|
  %div{id: dom_id(category)}
  %h3= category.name
  - category.dishes.each do |dish|
    %div{id: dom_id(dish)}
      %p= dish.name
      %p= dish.description
      %p=dish.price